* {
    	margin: 0;
    	padding: 0;
}

body {
    	font-family: 'Inter', sans-serif;
}


h1 {
	margin-top: 100px;
	margin-bottom: 20px; 
    text-align: center;
	font-size: 40px;
	font-weight: bold;
	width: 100%;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 40px;
	margin-top: 20px;
	margin-bottom: 90px;
}

.agents {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 40px;
	margin-left: 75px;
}

a {
	text-decoration: none;
	color: black;
}

.agent1 {
	padding: 10px;
	border: 2px solid black;
}

.pic {
	width: 250px;
}

.info {
	height: 50px;
	text-align: center;
	margin-top: 10px;
}

.fbacc {
	width: 30px;
}

.fbacc, p{
	display: inline-block;
	vertical-align: middle;
}

p{
	font-size: 20px;
	font-weight: bold;
	width: 180px;
}