* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
}
 a {
	 text-decoration: none;
	 color: black;
 }

.background{
	margin-top: 80px;
	margin-bottom: 20px;
}
.background img {
    width: 80%;
	height: auto;
	float: left;
}

.background .bginfo{
	width: 80%;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
}
.bginfo h1{
	text-align: center; 
	font-size: 50px;
	padding-top: 620px;
	padding-bottom: 20px;
}
.bginfo p.info{
	margin-left: 18px;
	font-size: 20px;
}
.bginfo p.date{
	color: blue;
	margin-top: 40px;
	margin-left: 18px;
}
.bginfo button{
	position: absolute;
	margin-top: -38px;
	margin-left: 70%;
	background-color: grey;
    color: white;
    font-size: 15px;
    border-radius: 8px;
    width: 120px;
    height: 35px;
    cursor: pointer;
    border: none;
}

.sides{
	float: right;
	width: 18%;
	margin-top: -870px;
	margin-right: 12px;
}
.side-group{
	border: 1px solid black;
	padding: 10px;
}
.side-group h2{
	font-size: 25px;
	color: #285ECA;
	margin-bottom: 15px;
}
.side-group p.side-info{
	font-size: 15px;
	margin-bottom: 10px;
}
.side-group p.side-author{
	font-size: 15px;
	color: #285ECA;
}



.breaking-news{
	padding: 20px;
	margin-bottom: 750px;
}
.breaking-news h3{
	font-size: 50px;
	margin-bottom: 20px;
}

.news-group-left{
	width: 48%;
	float: left;
}

.news-group-left .news-group{
	margin-top: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid grey;
}

.news-group-left .news-group img{
	width: 320px;
	border: 1px solid black;
	margin-bottom: 7px;
}

.news-group-left .news-group .news-info{
	float: right;
	width: 300px;
	height: 210px;
	font-size: 15px;
}

.news-group-left .news-group .news-info p.info{
	margin-top: 40px;
	margin-bottom: 30px;
	font-size: 18px;
	font-weight: bold;
}

.news-group-right{
	width: 48%;
	float: right;
}

.news-group-right .news-group{
	margin-top: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid grey;
}

.news-group-right .news-group img{
	width: 320px;
	border: 1px solid black;
	margin-bottom: 7px;
}

.news-group-right .news-group .news-info{
	float: left;
	width: 300px;
	height: 210px;
	margin-right: 6px;
	font-size: 15px;
}

.news-group-right .news-group .news-info p.info{
	margin-top: 40px;
	margin-bottom: 30px;
	font-size: 18px;
	font-weight: bold;
}

.news-group-right .news-group .news-info p.date{
	margin-left: 95px;
}
