* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
}


.background{
	margin-top: 80px;
}
.background img {
    width: 100%;
	height: auto;
}
.background h1{
	font-size: 60px;
	color: white;
	margin-top: -280px;
}

.background p{
	font-size: 25px;
	color: white;
	margin-top: -20px;
	text-align: center;
}

h1 {
    text-align: center;
    margin-top: 150px;
    margin-bottom: 50px;
	font-size: 60px;
}

form {
    margin: 20px 150px;
    background-color: #D9D9D9;
    padding: 40px 60px;
    border-radius: 10px;
}

p {
    font-size: 27px;
	font-weight: bold;
	margin-bottom: 10px;
}

.form-group, .form-group-1 {
    display: inline-block;
	font-size: 25px;
}

label[for="lname"], #lname, p.telephone_number, #telephone_number{
	margin-left: 124px;
}

.form-group label, .form-group-1 label {
    display: block;
	margin-top: 10px;
	margin-bottom: 20px;
	color: #6C6C6C;
    font-size: 16px;
}

.email, .home{
	margin-top: 20px;
}

.form-group input, .form-group-1 input {
    height: 50px;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    border-radius: 10px;
}

.form-group input{
	width: 400px;
}

.form-group-1 input{
	width: 930px;
}

#city, #state_province{
	width: 450px;
}

label[for="state_province"], #state_province{
	margin-left: 24px;
}


button {
    background-color: maroon;
    color: white;
    font-size: 25px;
    border-radius: 8px;
    width: 250px;
    height: 50px;
    margin: 20px auto;
    cursor: pointer;
    border: none;
    display: block;
}

